*{
    padding: 0%;
    margin:0;
    font-family: 'Lekton', sans-serif;
    color: #F2F2F2;
}


.Intro-purple{
    /* background: rgb(133,90,255);
    background: linear-gradient(90deg, rgba(133,90,255,1) 5%, rgba(70,56,105,1) 90%); */
    background: rgb(176,147,202);
    background: linear-gradient(90deg, rgba(176,147,202,1) 36%, rgba(118,74,241,1) 90%);
    height:100vh;
    width:100%;
}

/* .container {
	scroll-snap-type: y mandatory;
	
  }

  .child {
    scroll-snap-align: 100vh;
  } */


.myPort{
    padding-top:10vh;
    padding-left: 6vw;
    font-size: 5vw;
    float:left;
    font-weight: bold;
}




.name{
    /* padding-top:14.6vh; */
    /* margin-left:140vh; */
    font-size: 1.8vw;
    /* margin-top: -12.5vh; */
    padding-right:1rem;
    
    padding-top:3vh;
    float:right;
    
}






.title{
    /* margin-top: 10vh; */
    /* float: left; */
    float:left;
    margin-top:2vh;
    margin-right:20vw;
    font-size: 2vw;
    padding-left: 6vw;
}

.icons{
/* padding-left: 2vw; */
margin-left: 6.1vw;

margin-right:25vw;

padding-top:20%;
font-size:3vw;
}

/* #github{
    
}

#android{
    
}

#wordpress{
    
} */

.fa-linkedin:hover{
    color:rgb(15, 225, 155)!important;
}

.fa-github:hover{
    color:rgb(15, 225, 155)!important;
}

.fa-android:hover{
    color:rgb(15, 225, 155)!important;
}

.fa-wordpress:hover{
    color:rgb(15, 225, 155)!important;
}

.fa-desktop:hover{
    color:rgb(15, 225, 155)!important;
}

.fa-cube:hover{
    color:rgb(15, 225, 155)!important;
}

.fa-shield:hover{
    color:rgb(15, 225, 155)!important;
}

.fa-amazon:hover{
    color:rgb(15, 225, 155)!important;
}




.image{
    margin-right:10vw;
    padding-top: -100vh;
    
}

.img-prop{
    max-width: 20vw;
    float:right;
    position: absolute;
    right: 0px;
    bottom: 0px;
}

/* Start of next portion */

.graySection{
    background-color: #D9D9D9;
    
    width:100%;
    height:230vh;
    width:100%;
    
}


.projects{
    padding-top:10vh;
    padding-left: 6vw;
    font-size: 5vw;
    float:left;
    font-weight: bold;
    color: #F32424;
    margin-right: 60vw;
    
}


.projectBlk1{
    background-color: #764AF1;
    max-height: 30vh;
    width: 80vw;
    border-radius:10vh 10vh 10vh 10vh ;
    
    padding-top: 0vh;
    float: left;
    /* margin-left: 10vw; */
}
/* 
.webapp{
    width: 10%;
    padding-left: 70vw;
    padding-top: 2%; 
} */

.redblock{
    background-color: #F32424;
    margin-right: 0vw;
    padding-top: .5vh;
    padding-bottom: 5.5vh;
    border-radius:10vh 10vh 0vh 0vh ;
    
}

.projectTitle1{
    padding-left:5.5vw;
    margin-top: 1vh;
    padding-bottom: 0vh;
    font-size: 2.0vw;
    font-weight: bold;
    color: #F2F2F2;
    
}


.project1Desc{
font-size: 2vw;
padding-bottom: 10vw;
margin-bottom: 10vw;
margin-left: 2vw;
}


/* Project 2  */



.projectBlk2{
    background-color: #764AF1;
    max-height: 30vh;
    width: 80vw;
    border-radius:10vh 10vh 10vh 10vh ;
    padding-top: 0vh;
    float: left;
    margin-left: 10vw;
    margin-top: 4vh;
    
}

.projectTitle2{
    padding-left:5.5vw;
    margin-top: 1vh;
    padding-bottom: 0vh;
    font-size: 2.0vw;
    font-weight: bold;
    color: #F2F2F2;
}

.project2Desc{
    font-size: 2vw;
    padding-bottom: 10vw;
    margin-bottom: 10vw;
    margin-left: 2vw;
} 

/* Next Section */


.workBlock{
    /* background-color: #F32424; */
    background: rgb(243,36,36);
background: linear-gradient(90deg, rgba(243,36,36,1) 35%, rgba(217,217,217,1) 100%);
    height:100%;
    margin-bottom: -20vh;
    
}

.experience{
    padding-top:5vh;
    padding-left: 6vw;
    font-size: 5vw;
    float:left;
    font-weight: bold;
    color: #F2F2F2;
    margin-right: 80vw;
    
}


/* .projectTitle1:hover{
    color:rgb(15, 225, 155)!important;
    
} */


/* .projectTitle2:hover{
    color:rgb(15, 225, 155)!important;
} */

a:link{
    text-decoration: none;
}


/* Experience Section */







.blk1{
    
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 140px;
  }
  

  
  .row{
    margin: 5%;
    display: flex;
    justify-content: space-between;
  }
  
  .blk1-col{
        
  

  flex-basis: 31%;
  background: #764AF1;
  border-radius: 10px;
  margin-bottom: 2vh;
  padding: 20px 12px;
  box-sizing: border-box;
  transition: 0.2s;

  border-color: #6647bc;
  border-style: solid;
  border-width: 5px; 
  }
  
  h3{
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
  }
  
  
  .blk1-col:hover{
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.2);
  }

  .expPicture{
    width: 10vw;
    border-radius: 10px;
  }

  
.footer{
    justify-content: center;
    align-items: center;
    text-align: center;
    
}


.projectsTitle{
    padding-top:5vh;
    padding-left: 6vw;
    font-size: 5vw;
    float:left;
    font-weight: bold;
    color: #F32424;
    margin-right: 50vw;
}




























@media(max-width: 670px){

.icons{
    /* margin-left: 0vw;
    padding-top:60%;
    margin-right:25vw; */
    padding-top: 80vh;
    font-size: 60px;
    padding-right:50%;
    padding-left:40%;

}

.myPort{
    padding-top:0vh;
    justify-content: center;
    font-size: 10vw;
    float:left;
    font-weight: bold;
    padding-left:22%
}

.Intro-purple{
    height:170vh;
}

.img-prop{
    opacity:0;
}


.name{
    font-size:5vw;
    margin-right: 12.5%;
    margin-left: 20%;
    font-style: bold;
}

.title{
    font-size:3vw;
    margin-left: 20%;
    margin-right: 20%;
    padding-top:5vh;
    padding-bottom: 0vh;
}


}







  @media(max-width: 810px){
    .row{
      flex-direction: column;
    }

    .workBlock{
        /* background-color: #F32424; */
        background: rgb(243,36,36);
        background: linear-gradient(90deg, rgba(243,36,36,1) 35%, rgba(217,217,217,1) 100%);
        height:100%;
        width:100%;
    }

    .graySection{
        height:350vh;
        width:100%;
        padding-bottom: 10vh;
    }
  }


  @media(max-height: 540px){
    .row{
      flex-direction: column;
    }


    .graySection{
        height:500vh;
        width:100%;
        
    }
  }


  @media(max-height: 434px){

    .graySection{
        height:550vh;
        width:100%;
        padding-bottom: 10vh;
    }
  }

  @media(max-height: 392px){

    .graySection{
        height:650vh;
        width:100%;
        padding-bottom: 10vh;
    }
  }

  @media(max-height: 332px){

    .graySection{
        height:850vh;
        width:100%;
        padding-bottom: 10vh;
    }
  }

  @media(max-height: 253px){

    .graySection{
        height:1150vh;
        width:100%;
        padding-bottom: 10vh;
    }
  }